<h1>Listing How To's</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firsts.each do |first| %>
      <tr>
        <td><%= first.body %></td>
        <td><%= link_to 'Show', first %></td>
        <td><%= link_to 'Edit', edit_first_path(first) %></td>
        <td><%= link_to 'Destroy', first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New How To', new_first_path %>
